html {
    background-color: #FFFFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Cards (symbol list)*/
.divtable {
    display: flex;
    flex-direction: column;

    /*border: 1px solid*/
}

.categorylist {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1vmax 1vmax;
}
.category {
    display: flex;
    flex-direction: column;

    padding-bottom: 24px;

    background-color: #9E3039;
}
.h3bar h3 {
    grid-column: 1/4;

    margin: 2vmax;

    color: #FFFFFF;
    text-align: center;
    font-size: 1.9rem;
    text-align: left;
}
.h3bar {
    background: #51181D;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 192px;
    height: 256px;

    margin: 12px 8px;
    padding: 16px;

    background-color: #FFFFFF;
    border-radius: 16px;
    box-shadow: 0px 12px 12px #7E262D;
}
.card p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
}
.card img {
    width: 100%;
}

.card-info {
    display: none;
    margin: 1vmax;
}
.card:hover .card-title {
    display: none;
}
.card:hover .card-info {
    display: block;
}
.card:hover img {
    display: none;
}

/* Card list buttons (filters) */
.card-filter {
    padding: 8px;
    margin-bottom: 8px;

    text-decoration: none;
    background-color: #75232a;
    color: #FFFFFF;
    border: none;
}
.card-filter:active {
    background-color: #51181D;
}

/* Navigation*/
nav ul {
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: #9E3039;
}
nav li {
    display: inline;
    text-align: center;
    float: left;
}
nav a {
    display: block;
    
    padding: 16px;

    text-decoration: none;
    color: white;
    border-right: #75232a 1px solid;
}
nav li:hover {
    background-color: #75232a;
}

/* Flashcard */
.flashcard-category {
    display: flex;
    flex-direction: row;

    margin: auto;
    margin-top: 1vmax;
}
.flashcard {
    display: flex;
    align-items: center;

    position: relative;

    width: 360px;
    height: 360px;

    margin: auto;

    border-radius: 16px 16px 0 0;
    background-color: #FFFFFF;
    box-shadow: 0px 12px 12px #7E262D;
}
.flashcard img {
    width: 90%;
    height: auto;
    margin: auto;
}
.flashcard-buttons {
    display: flex;
    flex-direction: column;

    min-width: 340px;
    max-width: 360px;

    text-align: center;
    justify-items: center;
}
.flashcard-buttons button {
    padding: 16px;
    margin: 12px;
    
    width: 100%;
    height: 100%;

    font-weight: bold;
    text-align: center;
    border-radius: 8px;
    border: 2px #c5c5c5;
    box-shadow: 0 8px 8px #7E262D;
    
    color: #000000;
    background-color: #FFFFFF;
}
button:hover {
    background-color: #acacac;
}
button:active {
    background-color: #c5c5c5;
}

.flashcard-progress[value] {
    width: 100%;
    height: 8px;

    position: absolute;
    bottom: 0;

    border: none;
    -webkit-appearance: none;
    appearance: none;
}
.flashcard-progress[value]::-webkit-progress-bar {
    background-color: #FFFFFF;
}
.flashcard-progress[value]::-webkit-progress-value {
    background-color: #51181D;
}
.flashcard-progress[value]::-moz-progress-bar {
    background-color: #FFFFFF;
}
.flashcard-progress[value]::-moz-progress-bar {
    background-color: #51181D;
}

.flashcard-results {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 360px;
    height: 360px;

    margin: auto;
    position: relative;

    border-radius: 16px 16px 0 0;
    background-color: #FFFFFF;
    box-shadow: 0px 12px 12px #7E262D;
}
.results-progress[value] {
    width: 100%;
    height: 8px;

    position: absolute;
    bottom: 0;

    border: none;
    -webkit-appearance: none;
    appearance: none;
}
.results-progress[value]::-webkit-progress-bar {
    background-color: #FFFFFF;
}
.results-progress[value]::-webkit-progress-value {
    background-color: #51181D;
}
.results-progress[value]::-moz-progress-bar {
    background-color: #FFFFFF;
}
.results-progress[value]::-moz-progress-bar {
    background-color: #51181D;
}

@media screen and (max-width: 800px) {
    .flashcard-category {
        flex-direction: column;
    }
    .flashcard {
        margin-bottom: 12px;
    }
    .flashcard-buttons button {
        margin: 0;
        margin-top: 8px;
    }

    nav ul {
        display: flex;
        flex-direction: column;
    }
    nav a {
        border-bottom: #75232a 1px solid;
    }
    .card {
        width: 136px;
        height: 200px;
    }
    .card img {
        width: 90%;
    }
    .card p {
        font-size: 0.9rem;
    }
}
@media screen and (max-width: 408px) {
    .card {
        width: 104px;
        height: 168px;
    }
    .card p {
        font-size: 0.65rem;
    }
}