html {
    background-color: #FFFFFF;
}



/* Cards */
.divtable {
    display: flex;
    flex-direction: column;

    border: 1px solid
}

.categorylist {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.category {
    display: flex;
    flex-direction: column;
    background-color: #9E3039;
    margin: 1vmax;
}
.category h3 {
    color: #FFFFFF;
    text-align: center;
    grid-column: 1/4;
    text-align: left;
    margin: 4vmax;
}

.cardzime {
    display: flex;
    flex-direction: column;

    width: 15vmax;
    max-width: 256px;
    margin: 1vmax;

    /* Colors */
    background-color: #FFFFFF;
    border-radius: 16px;
    box-shadow: 0px 12px 12px #7E262D;
}
.cardzime:hover {
    
}
.cardzime p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    font-weight: bold;
    text-align: center;
}
.cardzime img {
    width: 100%;
    grid-row: 2;
}

/* Navigation*/
nav ul {
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: #9E3039;
}
nav li {
    display: inline;
    text-align: center;
    float: left;
}
nav a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 16px;
    border-right: #75232a 1px solid;
}
nav li:hover {
    background-color: #75232a;
}